:host {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

button {
  width: 36px;
  height: 36px;
  padding: 6px;
  color: orange !important;
}

button.readonly {
  cursor: default;
}

button.readonly .mat-icon {
  color: orange !important;
}
