.lock-icon { display: flex; justify-content: center; margin-bottom: 15px; }
mat-card-title, mat-card-content { display: flex; justify-content: center; }
mat-card-content { flex-direction: column; }
.countdown { font-size: 13px; }
