<div class="lock-icon"><i class="fas fa-user-lock fa-3x"></i></div>
  <mat-card-title>
    LOGIN to <span class="title">MovieShop</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <p>
        <mat-form-field appearance="outline" color="warn">
          <mat-label class="label">Email or username</mat-label>
          <input
            type="text"
            matInput
            placeholder="type your email or username"
            formControlName="email"
          />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error class="error" *ngIf="form.controls.email.hasError('required')">
            Email or username is <strong>required.</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" color="warn">
          <mat-label class="label">Password</mat-label>
          <input
            matInput
            placeholder="type your password"
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <i [ngClass]="hidePassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
          </button>
          <mat-error class="error" *ngIf="form.controls.password.invalid">
            Password is <strong>required.</strong>
          </mat-error>
        </mat-form-field>
      </p>

      <p class="login-error" *ngIf="errorMessage">{{ errorMessage }}</p>

      <div class="btn">
        <button
          [disabled]="isLoading || !form.valid"
          mat-raised-button
          class="action-btn"
          type="submit"
          color="warn"
        >
          <i *ngIf="isLoading" class="fas fa-spinner fa-spin fa-lg fa-fw"></i>
          Log In
        </button>
        <button
          color="primary"
          type="button"
          class="action-btn"
          mat-raised-button
          [routerLink]="['/welcome']"
          style="margin-left: 10px"
        >
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
  <div class="bottom-btns">
    <p class="forgot">
      <a [routerLink]="['/auth/forgot-password']">Forgot Password?</a>
    </p>
    <p class="signup">
      <a [routerLink]="['/auth/register']">Not a member? Sign up now!</a>
    </p>
  </div>
  <mat-divider></mat-divider>
